@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Share+Tech+Mono&display=swap');

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#preloader-logo {
  width: 250px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0a4d68;
  color: #f1faee;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10p;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  box-sizing: border-box;
}

h1{
  font-weight: bold;
  font-size: 40px;
  color: #f3f3f3;
  font-family: "Share Tech Mono", monospace;
}


h2 {
  color: #003d5b;
}

label {
  display: block;
  margin: 15px 0 5px;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0a4d68;
  color: #f3f3f3;
  cursor: pointer;
  height: 60px;
  font-size: large;
}

button:hover {
  background-color: #a8d8ea;
}

nav {
  padding: 15px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #f3f3f3;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #f3f3f3;
  font-weight: bold;
  padding: 0 10px;
}

.nav-links a:hover {
  color: #a8d8ea;
}


/* Responsive Styles */
@media (max-width: 768px) {

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }

  .nav-links.show {
    display: flex;
  }
}


.info-box {
  background-color: #f9ffff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin: 60px 0px 80px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    padding: 15px;
    font-size: 18px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }

  .container {
    margin: 15px;
    padding: 15px;
  }

  button {
    font-size: 16px;
  }

  form label,
  form input,
  form select,
  form textarea {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    padding: 10px;
  }

  .info-box p {
    font-size: 14px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #003d5b;
  color: #f3f3f3;
}


.print-pdf{
  background-color: #f3f3f3;
  color: #0a4d68;
  border: #0a4d68 solid 3px;
  width: 150px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
#detail-report{
  overflow: scroll;
}

/*********LOGIN*********/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30px;
  background-color: #f3f3f3;
}

.form {
  --background: #f3f3f3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 250px;
  margin: 15px;
}

.form > p {
  font-family: var(--font-DelaGothicOne);
  color: var(--font-color);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form > p > span {
  font-family: var(--font-SpaceMono);
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator > div {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--font-color-sub);
}

.separator > span {
  color: var(--font-color);
  font-family: var(--font-SpaceMono);
  font-weight: 600;
}

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: auto 15px 15px auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: #e8e8e8;
}

.oauthButton:hover::before {
  width: 100%;
}

.form > input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.home-btn{
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0a4d68;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin: 35px;
  margin-top: 35px;
}

.home-btn:hover {
  background-color: #a8d8ea;
  color: #003d5b;
}